# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
twitch_exporter
__debug_*

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Ignore config files
twitch_exporter.yml*
*.twitch_exporter.yml*